﻿@model BirthdayFacts.Models.BirthdayInfoViewModel
@{
    ViewBag.Title = "Birthday Calculator";

    var birthDayMessage100th = string.Empty;

    if (Model.DaysUntil100 == 0)
    {
        birthDayMessage100th = "Today is your 100th birthday. Happy Birthday!";
    }
    else if (Model.CurrentAge < 100)
    {
        birthDayMessage100th = string.Format("There are {0} day{1} until your 100th birthday.",
            Model.DaysUntil100,
            Model.DaysUntil100 > 1 ? "s" : string.Empty);
    }
    else
    {
        birthDayMessage100th = string.Format("It has been {0} day{1} since your 100th birthday.",
            Model.DaysUntil100,
            Model.DaysUntil100 > 1 ? "s" : string.Empty);
    }
    
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    
    <fieldset>
        <legend>Enter birthday details to find out which days your birthday tends to fall on</legend>
        @Html.LabelFor(m => m.Birthday)
        @Html.TextBoxFor(m => m.Birthday, new { @class="datepicker"})
        <input type="submit" value="Submit" />
    </fieldset>

}


@if (Model.Completed)
{
    <h3>Birthday Info</h3>
    <p>
        You were born on a @Model.Birthday.Value.DayOfWeek and you are currently @Model.CurrentAge year@(Model.CurrentAge > 1 ? "s" : string.Empty) old. That is @Model.DaysOld days old. There are @Model.DaysUntilNextBirthday day@(Model.DaysUntilNextBirthday > 1 ? "s" : string.Empty) until your next birthday. @birthDayMessage100th
    </p>
    
    <h3>Day of week percentages (so far)</h3>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var birthDay in Model.BirthdayDayOfWeekPercentages)
            {
                <tr>
                    <td>@birthDay.DayOfWeek.ToString()</td>
                    <td>@((birthDay.Total * 100).ToString("0.000"))%</td>
                </tr>
            }
        </tbody>
    </table>
    
    if (Model.DaysUntil100 > 0)
    {
        <h3>Day of week percentages on your 100th birthday</h3>
        <table>
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var birthDay in Model.BirthdayDayOfWeekPercentages100thBirthday)
                {
                    <tr>
                        <td>@birthDay.DayOfWeek.ToString()</td>
                        <td>@((birthDay.Total * 100).ToString("0.000"))%</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}